{% extends 'base.html' %}

{% block content %}
    <h1>Business detail</h1>
    <p>Name: {{ business.name }}</p>
    <p>Organisation: {{ business.organisation }}</p>
    <p>Industry: {{ business.industry }}</p>
    <p>Established Date: {{ business.established_date }}</p>

    {% if perms.multiuser.change_business %}
        <a href="{% url 'business_update' business.id %}">Update</a>
    {% endif %}

    <h2>Branches</h2>
    <ul>
        {% for branch in branches %}
            <li><a href="{% url 'branch_detail' branch.id %}">{{ branch.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}