{% extends 'base.html' %}

{% block content %}
    <h1>Organisation detail</h1>
    <p>Organisation fields: {{ organisation.organisation_fields }}</p>

    {% if can_change %}
        <a href="{% url 'organisation_update' organisation.id %}">Edit</a>
    {% endif %}

    {% if can_delete %}
        <a href="{% url 'organisation_delete' organisation.id %}">Delete</a>
    {% endif %}

    <h2>Businesses</h2>
    <p>
        <a href="{% url 'business_create' %}">+ Create business</a>
    </p>
    <ul>
        {% for business in children %}
            <li><a href="{% url 'business_detail' business.id %}">{{ business.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% endblock %}